[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/theeternalsw0rd/vim-sensible.git
[submodule "bundle/vim-scriptease"]
	path = bundle/vim-scriptease
	url = https://github.com/theeternalsw0rd/vim-scriptease.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/theeternalsw0rd/vim-fugitive.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/theeternalsw0rd/vim-javascript-syntax.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/theeternalsw0rd/vim-css3-syntax.git
[submodule "bundle/vim-css-syntax"]
	path = bundle/vim-css-syntax
	url = https://github.com/theeternalsw0rd/vim-css-syntax.git
[submodule "bundle/vim-cpp"]
	path = bundle/vim-cpp
	url = https://github.com/theeternalsw0rd/vim-cpp.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/theeternalsw0rd/vimux.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/theeternalsw0rd/ultisnips.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/theeternalsw0rd/vim-surround.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/theeternalsw0rd/vim-easymotion.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/theeternalsw0rd/vim-coffee-script.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/theeternalsw0rd/vim-haml.git
[submodule "bundle/vim-blade"]
	path = bundle/vim-blade
	url = https://github.com/theeternalsw0rd/blade.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/theeternalsw0rd/vim-airline
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/theeternalsw0rd/vim-colors-solarized.git
[submodule "bundle/vim-colors-base16"]
	path = bundle/vim-colors-base16
	url = https://github.com/theeternalsw0rd/base16-vim
[submodule "bundle/vim-brightscript"]
	path = bundle/vim-brightscript
	url = https://github.com/theeternalsw0rd/brightscript.vim
